<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devfun.settingweb_boot.dao.StatisticMapper">

    <select id="selectYearLogin" parameterType="java.lang.String" resultType="com.devfun.settingweb_boot.dto.YearLonginDto">
        SELECT COUNT(*) AS totCnt
        FROM statistic.requestInfo ri
        WHERE LEFT(ri.createDate, 4) = #{year};
    </select>

    <select id="selectMonthLogin" parameterType="java.lang.String" resultType="com.devfun.settingweb_boot.dto.MonthLoginDto">
        SELECT COUNT(*) AS totCnt
        FROM statistic.requestInfo ri
        WHERE LEFT(ri.createDate, 6) = #{yearMonth};
    </select>

    <select id="selectDayLogin" parameterType="java.lang.String" resultType="com.devfun.settingweb_boot.dto.DayLoginDto">
        SELECT COUNT(*) AS totCnt
        FROM statistic.requestInfo ri
        WHERE LEFT(ri.createDate, 8) = #{yearMonthDay};
    </select>

    <select id="selectNoHolidayMonthLogin" parameterType="java.lang.String" resultType="com.devfun.settingweb_boot.dto.MonthLoginDto">
        SELECT COUNT(*) AS totCnt
        FROM statistic.requestInfo ri
        WHERE LEFT(ri.createDate, 6) = #{yearMonth}
          AND NOT EXISTS (
            SELECT 1
            FROM statistic.holidays hl
            WHERE hl.data = CONCAT('20', LEFT(ri.createDate, 6))
            );
    </select>


    <resultMap id="departmentLoginDtoMap" type="com.devfun.settingweb_boot.dto.DepartmentLoginDto">
        <id property="department" column="department" />
        <result property="totCnt" column="totCnt" />
        <result property="yearMonth" column="yearMonth"/>
    </resultMap>
    <select id="selectDepartmentLogin" parameterType="java.lang.String" resultMap="departmentLoginDtoMap">
        SELECT u.HR_ORGAN as department, COUNT(ri.requestID) AS totCnt, LEFT(ri.createDate, 6) as yearMonth
        FROM statistic.requestInfo ri
                 JOIN statistic.user u ON ri.userID = u.userID
        WHERE LEFT(ri.createDate, 6) = #{yearMonthDay}
        GROUP BY u.HR_ORGAN, yearMonth;
    </select>


</mapper>
